#city-header {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
}

#city-text {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
}

#city-attribute-text {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
}
#city-icon {
    filter: invert(1);
}

