/* PHOTO SOURCE: https://www.flickr.com/photos/decaseconds/13369222375*/
html {
    height: 100%;
}
body {
    color: white;
    background-image: url('../Images/americantrip.jpeg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn.link {
    color: white;
}

.btn.visited, #btn.hover {
    color: white;
}


.dropdown-menu {
    height: 200px;
    overflow-y: scroll
}

