#navbar-brand {
    font-family: 'Michroma', sans-serif;
    color: white;
}

#navbar-brand:hover {
    color: #696767;
}

#navbar-text {
    font-family: 'Raleway', sans-serif;
    color: #696767;
}

#navbar-text:hover {
    color: white;
}